.dialogs{
display: grid;
grid-template-columns:1fr 10fr;


}
.dialogs_items{
padding: 10px;
}

.dialog{

}
.fielForm{
    width: 250px;
}
.dialogItem{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(106, 106, 106);
}
.messages{
    padding: 10px;

}

.message{
    font-size: 15px;
    font-family: cursive;
   padding-bottom: 2px;
}

